/*-- BookTok Stylesheet --*/

/* border sizing for entire page */
* {
  box-sizing: border-box;
}
/*--- text styles ---*/
/*- font for all text -*/
h1, h2, p {
  font-family: 'Nunito Sans', sans-serif;
}

/*- heading and subheading colour and opacity -*/
h1, h2 {
  color: rgb(137,64,3,0.76);
}

/*-- body image and text styles --*/
body{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c1/George-peabody-library.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;

}

/*- remove all automatic margins from site -*/
body, html{
  margin: 0px;
  padding: 0px;
}

/*-- link styles --*/
/*- before press -*/
a:link {
  color: #7D876E;
  text-decoration: none;
}

/*- when hovering over -*/
a:hover{
  text-decoration: underline;
}

/*- after press -*/
a:visited{
  color: #7D876E;
}

/*- div style for heading and subheading -*/
.titles{
  background-color: #989E8A;
  max-width: 1500px;
  margin: 0px;
  overflow: hidden;
  max-width: none;
  text-align: center;
  width: 100%;
}

/*- searchbar style -*/
#bookInput {
  /* search icon */
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/221px-Vector_search_icon.svg.png');
  background-position: 10px 10px;;
  background-repeat: no-repeat;
  background-size: 25px;
  /*- borders and text -*/
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 25px;
  background-color: #DDDDDD;
  text-align: center;

}

/*- removes blue outline when being used-*/
#bookInput:focus {
  outline:none
}

/*--- table styles ---*/
/*- table margins, border and colour -*/
#bookTable {
  border-collapse: collapse;
  width: 85%;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-bottom:40px;
  background-color: #DDB8A6;
  table-layout: fixed;
}

/*- table header and data cell style -*/
#bookTable th, #bookTable td {
  padding: 10px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #7D876E;
}

/*- table row style-*/
#bookTable tr {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;

}

/*- header and hover colour -*/
#bookTable tr.header,#bookTable tr:hover {
  background-color: #D49C7E;
}
