/*-- BookTok Stylesheet --*/

/* border sizing for entire page */
* {
  box-sizing: border-box;
  font-family: 'Lora', serif;
}
/*--- text styles ---*/
/*- font for all text -*/
h1, h2, p {
  font-family: 'Lora', serif;
}
h1{

}
/*- heading and subheading colour and opacity -*/
h1, h2 {
  color: #C9BAA6;
}

/*-- body image and text styles --*/
body{
  background-image: url('background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;

}

/*- remove all automatic margins from site -*/
body, html{
  margin: 0px;
  padding: 0px;
}

/*-- link styles --*/
/*- before press -*/
a:link {
  color: #F6F2ED;
  text-decoration: none;
}

/*- when hovering over -*/
a:hover{
  text-decoration: underline;
}

/*- after press -*/
a:visited{
  color: #F6F2ED;
}

/*- div style for heading and subheading -*/
.titles{
  background-color: #F6F2ED;
  max-width: 1500px;
  margin: 0px;
  overflow: hidden;
  max-width: none;
  text-align: center;
  width: 100%;
}

/*- searchbar style -*/
#bookInput {
  /* search icon */
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/1890px-Vector_search_icon.svg.png');
  background-position: 10px 10px;;
  background-repeat: no-repeat;
  background-size: 25px;
  /*- borders and text -*/
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 25px;
  background-color: #D6D0C8;
  text-align: center;
  color: #AA9A8F;

}

/*- removes blue outline when being used-*/
#bookInput:focus {
  outline:none
}

/*--- table styles ---*/
/*- table margins, border and colour -*/
#bookTable {
  border-collapse: collapse;
  width: 85%;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-bottom:40px;
  background-color: #C9BAA6;
  table-layout: fixed;
}

/*- table header and data cell style -*/
#bookTable th, #bookTable td {
  padding: 10px;
  text-align: center;
  font-family: 'Noto Serif Display', serif;
  color: #F6F2ED;
}

/*- table row style-*/
#bookTable tr {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;

}

/*- header and hover colour -*/
#bookTable tr.header,#bookTable tr:hover {
  background-color: #AA9A8F;
}

/*- colours
#D6D0C8 - creme (table)
#F6F2ED - white (font)
#D1D1D0 - grey (search bar)
#AA9A8F - pinky (table/div)

-*/
